# Python Crash Course

## Quick reminders for basic Python syntax and concepts

**import built-in libaries**

In [1]:
import os
print(os.listdir())

['.git', '.ipynb_checkpoints', 'adult.data.csv', 'boston_data.csv', 'Datasets.ipynb', 'DataVisualization.ipynb', 'ExploraryDataAnalysis.ipynb', 'HW1-solutions.ipynb', 'iris.csv', 'msp.csv', 'Pandas.ipynb', 'ProbAndStat.ipynb', 'Python.ipynb', 'tips.csv', 'titanic.csv', 'USA_Housing.csv']

In [2]:
print("Current Directory", os.getcwd())

Current Directory C:\Users\alexp\OneDrive\QC\DataAnalyticsFall2019\QCNotebooks

In [3]:
import getpass
getpass.getuser()

'alexp'

## standard libaries for DataFrame and Data Visualization

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns

## Data Types: string, int, float, boolean

In [7]:
name = "Alex"
greetings = "I am your professor"
course = "Data Analytics"
number_of_hw = 4

In [25]:
message = "Hello my name is {}. {} in {} course.".format(name, greetings, course)
message += "There will be {} homework".format(number_of_hw)

In [30]:
hw = 0.4
mid_term = 0.2
final_project = 0.2
final_exam = 0.2

In [31]:
total = hw + mid_term + final_project + final_exam
print(total)

1.0

In [61]:
flag = 3 > 4
flag

False

In [63]:
flag = (1 + 1 == 2)
flag

True

## List

In [52]:
current_students = [ "Alex", "Joe", "Mary"]

In [53]:
new_students = ["Henry", "Chris"]

In [54]:
all_students = students + new_students
all_students

['Alex', 'Joe', 'Mary', 'Henry', 'Chris']

In [55]:
all_students.append("Donald")
all_students

['Alex', 'Joe', 'Mary', 'Henry', 'Chris', 'Donald']

In [56]:
print(all_students[0])
print(all_students[3])

Alex
Henry

**list comprehension**

In [72]:
city = ["hong kong", "usa", "china", "india"]
CITY = [ v.upper() for v in city]
print(city)
print(CITY)

['hong kong', 'usa', 'china', 'india']
['HONG KONG', 'USA', 'CHINA', 'INDIA']

## Dictionaries

In [57]:
d = {'key1':'item1','key2':'item2'}

In [58]:
d

{'key1': 'item1', 'key2': 'item2'}

## if else statements, logical operators, for loop

In [65]:
if 3 > 2:
    print("Yes")
else:
    print("No")

Yes

In [67]:
x = 7
if x < 3:
    print("x less than 3")
elif x <= 6:
    print("x equal or less than 6")
elif x < 9:
    print("x less than 9")
else:
    print("x is equal or larger than 9")

x less than 9

In [74]:
d

{'key1': 'item1', 'key2': 'item2'}

In [73]:
for k, v in d.items():
    print("{} is mapped to {}".format(k, v))

key1 is mapped to item1
key2 is mapped to item2

In [76]:
'key3' in d

False

In [77]:
'key1' in d

True